# Modules to automatically load.
modules = []

# Servers to connect to.
servers = {
    'rizon': {
        'channels': ['#test1', '#test2'],
        'host': 'irc.rizon.net',
        'nickname': 'Michiru',
        'port': 6697,
        'tls': True,
        'nickserv_password': None
    }
}

# Miscellaneous stuff.
personality = 'plain'
command_prefixes = [':']

# Module options.
knowitall = {'wolfram_api_key': None}
